@font-face {
  font-family: 'beach_society_light';
  src: url('./fonts/beach_society_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neoteric', sans-serif;
  src: url('./fonts/neoteric_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
