// Import all partials
@require './_*.styl'

/* Header and tagline */
header.top
  text-align center
  h1
    font-size 14.4rem
    display flex
    justify-content: center;
  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 3px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px


.mamak
  display flex
  height 90vh
  max-width:1500px
  margin 0 auto
  margin-top 5vh
  border 1rem double lighten(black,10%)
  background white
  & > *
    flex 1 4 auto
    padding 2rem
    position relative
    &:first-child
      flex-shrink 1 // take 4x the extra room
      flex-basis 50%
      overflow scroll
    &:nth-child(2)
      min-width 300px
      border-left 0.3rem dotted lighten(black,30%)
      border-right 0.3rem dotted lighten(black,30%)
    &:last-child
      flex-shrink 1 // take 4x the extra room
      flex-basis 50%
      overflow scroll


ul
  list-style none
  margin 0
  padding 0

ul.order
  li
    border-bottom 1px solid black
    padding 2rem 0
    display flex
    font-size 1.4rem
    justify-content space-between
    align-items center
    &:hover
      button
        display inline
    button
      border 0
      display none
      line-height 1
      margin-left 30px
      padding 0
    .price
      font-size 1.2rem
    span.count
      position relative
      overflow hidden
      span
        display inline-block
.total
  font-weight 600
  padding 1rem 0
  border-bottom 0.5rem double black
  border-top 0.5rem double black



/* Inventory Style */
.dish-edit
  margin-bottom 20px
  border 2px solid black
  overflow hidden
  display flex
  flex-wrap wrap
  input, textarea, select
    width 33.33%
    padding 10px
    line-height 1
    font-size 1.2rem
    border 0
    border-bottom 1px solid black
    border-right 1px solid black
    appearance none
    border-radius 0
    background white
    &:focus
      outline 0
      background lighten(orange, 85%)
  textarea
    width 100%
  input:last-of-type
    width 100%
  button
    width 100%
    border 0



/* Menu Style */
.list-of-dish
  border-top 2px solid black
  border-bottom 1px solid black
  padding-top 5px
  margin-top 2rem
  transform translateZ(0);

.menu-dish
  border-bottom 2px solid black
  border-top 1px solid black
  padding-bottom 2rem
  padding-top 2rem
  margin-bottom 5px
  clear both
  overflow hidden
  p
    margin 0
    font-size 1.8rem
  .dish-name
    margin 0
    display flex
    justify-content space-between
    align-items center
  .price
    font-size 2rem
    justify-content flex-end
  img
    float left
    width 150px
    margin-right 1rem

/* Button styles */
button, input[type=submit]
  text-transform uppercase
  background none
  border 1px solid black
  font-weight 600
  font-size 1.5rem
  font-family 'Open Sans'
  transition all 0.2s
  position relative
  z-index 2
  &[disabled]
    color red
    background white
    border-color red
    transform rotate(-10deg) scale(2) translateX(50%) translateY(-50%)
    &:hover
      color red
      cursor not-allowed
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    background black
    position absolute
    width 100%
    height 0
    left 0
    top 0
    transition all 0.2s
  &:hover, &:focus
    color white
    outline 0
    &:after
      height 100%
  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green

  &.github, &.facebook
    border 0
    display block
    margin-bottom 2rem
    width 100%
    color white
    padding 2rem

  &.github
    background #82D465
    &:after
      background darken(#82D465, 20%)

  &.facebook
    background #3864A3
    &:after
      background darken(#3864A3, 20%)